    #set($projectname="/pm")
    <!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="$projectname/favicon.ico" >
<link rel="Shortcut Icon" href="$projectname/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$projectname/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/style.css" />

    <script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/laypage/1.2/laypage.js"></script>


    <script type="text/javascript" src="$projectname/myjs/until/date.js"></script>



<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加记录</title>

</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form-copyright-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>著作权名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="rightName" name="rightName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">排行：</label>
            <div class="col-xs-6">
            <span class="select-box">
                <select class="select" size="1" name="rank" id="rank">
                    <option value="第一" >第一</option>
                    <option value="第二" >第二</option>
                    <option value="第三" >第三</option>
                    <option value="第四" >第四</option>
                </select>
            </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">颁发时间：</label>
            <div class="formControls col-xs-8">
                <input type="text"  id="awardTime" class="input-text Wdate" style="width:120px;">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>证书编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="rightNum" name="rightNum">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">证明附件：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple id="file" name="file" class="input-file">
				</span>
			</div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="submit" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
	</form>
    <br>
    <br>
    <div class="text-shadow">

    </div>

</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="$projectname/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="$projectname/myjs/laydate/laydate.js"></script>


<script type="text/javascript">


    /**
     *@author Veng Su
     *@date 2018/4/5 21:18
     *方法作用：绑定日期插件
     **/
    laydate.render({
        elem: '#awardTime' //指定元素
    });

//ajax提交数据
	$("#submit").click(
	    function () {
            add();
        }
	);



</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
<script>
    function getData() {
        // $.ajax({
        //     type: "POST",
        //     url: "/copyright/selectByUserId.do",
        //     success: function (data) {
        //         var data = JSON.parse(data);
        //         display(data.data.list);
        //         var setTotalCount = data.data.total;//总条数
        //         var startNumber = data.data.pageNum;//当前页数
        //         var totalPages = data.data.navigatepageNums.length;//总页数
        //         $('#box').paging({
        //             initPageNo: startNumber, // 初始页码
        //             totalPages: totalPages, //总页数
        //             totalCount: '合计' + setTotalCount + '条数据', // 条目总数
        //             slideSpeed: 600, // 缓动速度。单位毫秒
        //             jump: true, //是否支持跳转
        //             callback: function(page) { // 回调函数
        //                 console.log(page);
        //             }
        //         });
        //     }
        // });
    }

    // function display(data) {
    //     var str = "";
    //     var tbody = window.document.getElementById("tbody");
    //     var index =0;
    //     for (i in data) {
    //         // var overTime =FormatDateTime(data[i].overTime);
    //         // var beginTime =FormatDateTime(data[i].beginTime);
    //         var awardTime =FormatDateTime(data[i].awardTime);
    //         index=parseInt(i)+1;
    //         str += "<tr class='text-c'>" +
    //             "<td name='caonima' width='25'><input type='checkbox' ></td>" +
    //             "<td name='id' width='40'>" + index + "</td>" +
    //             "<td name='rightName'width='150'>" + data[i].rightName + "</td>" +
    //             "<td name='rank' width='130'>" +  data[i].rank + "</td>" +
    //             "<td name='awardTime' width='100'>" + awardTime + "</td>" +
    //             "<td name='rightNum' width='100'>" + data[i].rightNum + "</td>" +
    //             "<td ><button  class='btn btn-primary radius ' value='"+data[i].copyId+"' onclick="+"jumpEdit(this.value)"+">编辑</button>" +
    //             "<button class=' btn btn-danger radius ' value='"+data[i].copyId+"' onclick="+"jumpDelete(this.value)"+">删除</button></td>"+
    //             "</tr>";
    //     }
    //
    //     tbody.innerHTML = str;
    // }

    /**
     *@author Veng Su
     *@date 2018/4/4 20:05
     *方法作用：跳转编辑页面
     **/
    function jumpEdit(id) {
        var url="$projectname/copyright/edit?id="+id;

        layer_show('修改', url);
    }

    /**
     *@author Veng Su
     *@date 2018/4/4 20:05
     *方法作用：删除记录
     **/
    function jumpDelete(id) {
        var copyId=parseInt(id);
        layer.confirm('确认要删除吗？',function () {
            $.ajax({
                type:"POST",
                url:"$projectname/copyright/delete.do",
                data:{"copyId":copyId},
                success:function (data) {
                    data=JSON.parse(data);
                    layer.msg(data.msg, {icon: 1, time: 2000});
                    getData();

                }
            });
        });
    }

    /**
     *@author Veng Su
     *@date 2018/4/5 9:58
     *方法作用：跳转add页面
     **/
    function copyright_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /**
     *@author Veng Su
     *@date 2018/4/5 22:21
     *方法作用：add记录
     **/
    function add() {
        var upload_file = document.getElementById("file").files[0];
        var formFile = new FormData();
        formFile.append("upload_file", upload_file);
        var data = formFile;

        var rightName=$("#rightName").val();
        var awardTime =$("#awardTime").val();
        awardTime=convertDateFromString(awardTime);

        var rank=$("#rank").val();
        var rightNum=$("#rightNum").val();



        $.ajax({
            type:"POST",
            url: "$projectname/copyright/uploadAttachment.do",
            data: data,
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false,
            success: function(data){
                data=JSON.parse(data);
                var fileId=data.data;
                fileId=parseInt(fileId);
                $.ajax({
                    type:"POST",
                    url:"$projectname/copyright/add.do",
                    data:{
                        "rightName":rightName, "rank":rank, "awardTime":awardTime, "rightNum":rightNum,
                        "fileId":fileId
                    },
                    success: function (data) {
                        var user=JSON.parse(data);
                        if (user.status ==200){
                            alert(user.msg);
                            window.parent.location.replace("$projectname/copyright/list");
                        }else {
                            layer.msg(user.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            },
            error:function () {
                layer.msg("必须上传证件",{icon: 3, time: 2000});
            }
        });
    }


    function selectData() {
        var data = parseUrl();
        var copyId=parseInt(data['id']);
        $.ajax({
            type:"POST",
            url:"$projectname/copyright/selectById.do",
            data:{"copyId":copyId},
            success:function (data) {
                var data = JSON.parse(data);
                $("#copyId").val(data.data.copyId);
                $("#rightName").val(data.data.rightName);
                $("#rank").val(data.data.rank);


                var awardTime=FormatDateTime(data.data.awardTime);
                $("#awardTime").val(awardTime);

                $("#rightNum").val(data.data.rightNum);
            }
        });
    }

    function update() {

        //设置data数据
        var copyId=$("#copyId").val();
        copyId=parseInt(copyId);

        var upload_file = document.getElementById("file").files[0];
        var formFile = new FormData();
        formFile.append("upload_file", upload_file);
        var data = formFile;

        var rightName=$("#rightName").val();
        var awardTime =$("#awardTime").val();
        awardTime=convertDateFromString(awardTime);

        var rank=$("#rank").val();
        var rightNum=$("#rightNum").val();

        var fileId=null;
        //查看upload_file是否为空
        if(upload_file!=null) {
            //不为空重新上传，拿到返回的fileid
            $.ajax({
                type:"POST",
                url: "$projectname/copyright/uploadAttachment.do",
                data: data,
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false,
                success: function(data){
                    data=JSON.parse(data);
                    var fileId=data.data;
                    fileId=parseInt(fileId);
                    $.ajax({
                        type:"POST",
                        url:"$projectname/copyright/update.do",
                        data:{
                            "copyId":copyId,
                            "rightName":rightName, "rank":rank, "awardTime":awardTime, "rightNum":rightNum,
                            "fileId":fileId
                        },
                        success: function (data) {
                            var user=JSON.parse(data);
                            if (user.status ==200){
                                alert(user.msg);
                                window.parent.location.replace("$projectname/copyright/list");
                            }else {
                                layer.msg(user.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                }
            });
        }else {
            //更新academic表单
            $.ajax({
                type:"POST",
                url:"$projectname/copyright/update.do",
                data:{
                    "copyId":copyId,
                    "rightName":rightName, "rank":rank, "awardTime":awardTime, "rightNum":rightNum,
                    "fileId":fileId
                },
                success: function (data) {
                    var user=JSON.parse(data);
                    if (user.status ==200){
                        alert(user.msg);
                        window.parent.location.replace("$projectname/copyright/list");
                    }else {
                        layer.msg(user.msg, {icon: 2, time: 2000});
                    }
                }
            });
        }
    }

</script>
