
<!DOCTYPE HTML>
<html>
<head>
##引入head.vm
#parse("/common/head.vm");

<title>添加管理员</title>
</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form-award-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写管理员姓名" id="name" name="name" datatype="*" nullmsg="请填写管理员姓名">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员账号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写管理员账号" id="username" name="username" datatype="*" nullmsg="请填写管理员账号">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写管理员密码" id="password" name="password" datatype="*" nullmsg="请填写管理员密码">
                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3">管理员角色：</label>
            <div class="col-xs-6">
            <span class="select-box">
                <select class="select" size="1" name="roleId" id="roleId" datatype="*" nullmsg="请选择管理员角色">
                </select>
            </span><span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="submit" type="submit" onclick="checkAndAdd()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-primary radius" id="reset" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
            </div>
        </div>
	</form>
    <br>
    <br>
    <div class="text-shadow">

    </div>

</article>
##引入foot.vm
#parse("/common/foot.vm");

<script type="text/javascript">

    $(function () {
       findRoles();
    });
    function findRoles() {
        $.ajax({
            type:"POST",
            url:"$projectname/admin/findRoles",
            success:function (data) {
                data=JSON.parse(data);
                data=data.data;
                var str="<option value=\"\" selected>选择角色</option>";
                for (i in data){
                    str+="<option value='" +data[i].roleId+"' >"+data[i].roleName+"</option>"
                }
                $("#roleId").html(str);

            }
        });
    }
function checkAndAdd() {
    $("#form-award-add").Validform({
        btnSubmit: "#submit",
        tiptype:3,
        showAllError: true,
        ignoreHidden: true,
        ajaxPost: false,
        beforeSubmit:function(curform){
            //在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
            //这里明确return false的话表单将不会提交;
            post();
            return false;
        },
    });
}
/**
 *@author Veng Su
 *@date 2018/4/5 22:21
 *方法作用：add记录//ajax提交数据

 **/
function post() {
    var roleId=$("#roleId").val();
    roleId=parseInt(roleId);
    var name=$("#name").val();
    var username =$("#username").val();
    var password=$("#password").val();


    $.ajax({
        type:"POST",
        url: "$projectname/admin/addadmin",
        data: {
            "roleId":roleId,"name":name,"username":username,"password":password
        },
        success: function(data){
            data=JSON.parse(data);
            if(data.status==200){
                layer.msg(data.data,{icon:1,time:3000});
                window.parent.location.replace("$projectname/admin/list");
            }
        },
        error:function () {
            layer.msg("参数错误", {icon: 2, time: 2000});
        }
    });
}






</script>
</body>
</html>
