
<html>
<head>

    #parse("/common/head.vm")

    <title>获奖信息列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员列表 <span
        class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r"
                                               style="line-height:1.6em;margin-top:3px"
                                               href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="academic_add('添加记录','$projectname/academic/add')"
               class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加记录</a>
        </span>
    <span id="total" class="r"> </span>
</div>
<table class="table table-border table-bordered table-bg">
    <thead>
    <tr>
        <th scope="col" colspan="24">权限列表</th>
    </tr>
    <tr class="text-c">
        <th width="25"><input type="checkbox"></th>
        <th >角色</th>
        <th >权限</th>
    </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
</div>
    #parse("/common/foot.vm")
<script>
    $(function () {
        getList();
    });
    function getList() {
        $.ajax({
            type:"POST",
            url:"$projectname/admin/selectPermissions",
            data:{},
            success:function (data) {
                data=JSON.parse(data);
                if (data.status==200){
                    setList(data.data);
                }else {
                    alert(data.msg);
                }
            },
            error:function () {
                layer.msg("请求接口失败");
            }

        });
    }
    function setList(data) {
        var str = "";
        var tbody = window.document.getElementById("tbody");
        var index = 0;
        for (i in data) {
            str += "<tr class='text-c'>" +
                    "<td  width='25'><input type='checkbox' ></td>" +
                    "<td name='roleName'width=''>" + data[i].roleName + "</td>" +
                    "<td name='permissions'><table border=0>";
            for (var j=0;j<data[i].permissions.length;j++){
                str+= "<tr>"+"<td>" + data[i].permissions[j].perName+ "</td>"+
                        "<td>"+
                        "<button class='editAcad btn btn-primary radius ' value='" + data[i].roleId + "' onclick=" + "jumpEdit(this.value)" + ">编辑</button>" +
                        "<button class='deleteAcad btn btn-danger radius ' value='" + data[i].roleId + "' onclick=" + "jumpDelete(this.value)" + ">删除</button>" +
                        "</td>" +
                        "</tr>";
            }
            str+= "</table></td>"+
                    "</tr>";
        }
        tbody.innerHTML = str;
    }
</script>
</body>
</html>
