   #set($projectname="")
    <!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="$projectname/favicon.ico" >
<link rel="Shortcut Icon" href="$projectname/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$projectname/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>修改记录</title>

</head>
<body>
<article class="page-container">
    <form  class="form form-horizontal" id="form-unit-add">
        <input type="hidden" class="input-text" value="" placeholder="" id="unitId" name="unitId">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学术团体名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写学术团体名称" id="unitName" name="unitName" datatype="*" nullmsg="必填字段">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>主办单位：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写主办单位" id="hostUnit" name="hostUnit" datatype="*" nullmsg="必填字段">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>职务：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写职务" id="duty" name="duty" datatype="*" nullmsg="必填字段">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>任期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写任期" id="term" name="term" datatype="*" nullmsg="必填字段">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">已上传：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img  width="140" height="140" id="img2" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">重新上传证明附件：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple id="file" name="file" class="input-file" onchange="previewImg(this,'img1')">
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">预览：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img  width="140" height="140" id="img1" />
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="submit" type="submit" onclick="checkAndPost()" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
                <input class="btn btn-primary radius" id="reset" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
            </div>
        </div>
    </form>
    <br>
    <br>
    <div class="text-shadow">
        <p>注意：</p>
        <p>不重新上传默认用上一次提交的附件。重新上传则覆盖</p>
    </div>

</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="$projectname/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript" src="$projectname/myjs/until/parseurl.js"></script>
<script type="text/javascript" src="$projectname/myjs/until/date.js"></script>
<script type="text/javascript" src="$projectname/myjs/laydate/laydate.js"></script>
<script type="text/javascript" src="$projectname/myjs/base.js"></script>
<script src="$projectname/myjs/validform/Validform_v5.3.2_min.js"></script>


<script type="text/javascript">
    function checkAndPost() {
        $("#form-unit-add").Validform({
            btnSubmit: "#submit",
            tiptype:3,
            showAllError: true,
            ignoreHidden: true,
            ajaxPost: false,
            beforeSubmit:function(curform){
                //在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
                //这里明确return false的话表单将不会提交;
                update();
                return false;
            },
        });
    }
//查询数据
$(function () {
   selectData();
})
function selectData() {
    var data = parseUrl();
    var unitId=parseInt(data['id']);
    $.ajax({
        type:"POST",
        url:"$projectname/unit/selectById.do",
        data:{"unitId":unitId},
        success:function (data) {
            var data = JSON.parse(data);
            $("#unitId").val(data.data.unitId);

            $("#unitName").val(data.data.unitName);
            $("#hostUnit").val(data.data.hostUnit);
            $("#term").val(data.data.term);
            $("#duty").val(data.data.duty);
            var url="$projectname";
            url+=data.data.filepath.url;
            $("#img2").attr("src",url);
        }
    });
}
function update() {

    //设置data数据
    var unitId=$("#unitId").val();
    unitId=parseInt(unitId);

    var upload_file = document.getElementById("file").files[0];
    var formFile = new FormData();
    formFile.append("upload_file", upload_file);
    var data = formFile;

    var unitName=$("#unitName").val();
    var hostUnit=$("#hostUnit").val();
    var term=$("#term").val();
    var duty=$("#duty").val();

    var fileId=null;
    //查看upload_file是否为空
    if(upload_file!=null) {
        //不为空重新上传，拿到返回的fileid
        $.ajax({
            type:"POST",
            url: "$projectname/unit/uploadAttachment.do",
            data: data,
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false,
            success: function(data){
                data=JSON.parse(data);
                var fileId=data.data;
                fileId=parseInt(fileId);
                $.ajax({
                    type:"POST",
                    url:"$projectname/unit/update.do",
                    data:{
                        "unitId":unitId,
                        "unitName":unitName, "hostUnit":hostUnit, "term":term, "duty":duty,
                        "fileId":fileId
                    },
                    success: function (data) {
                        var user=JSON.parse(data);
                        if (user.status ==200){
                            alert(user.msg);
                            window.parent.location.replace("$projectname/unit/list");
                        }else {
                            layer.msg(user.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            }
        });
    }else {

        $.ajax({
            type:"POST",
            url:"$projectname/unit/update.do",
            data:{
                "unitId":unitId,
                "unitName":unitName, "hostUnit":hostUnit, "term":term, "duty":duty,
                "fileId":fileId
            },
            success: function (data) {
                var user=JSON.parse(data);
                if (user.status ==200){
                    alert(user.msg);
                    window.parent.location.replace("$projectname/unit/list");
                }else {
                    layer.msg(user.msg, {icon: 2, time: 2000});
                }
            }
        });
    }
}


</script>
</body>
</html>
