<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.AcademicReportMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.AcademicReport">
    <id column="rep_id" jdbcType="INTEGER" property="repId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
    <result column="report_title" jdbcType="VARCHAR" property="reportTitle" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="over_time" jdbcType="TIMESTAMP" property="overTime" />
    <result column="host_unit" jdbcType="VARCHAR" property="hostUnit" />
    <result column="host_place" jdbcType="VARCHAR" property="hostPlace" />
    <result column="attend_num" jdbcType="INTEGER" property="attendNum" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
  </resultMap>
  <sql id="Base_Column_List">
    rep_id, create_time, update_time, delete, report_title, begin_time, over_time, host_unit, 
    host_place, attend_num, user_id, file_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from academicreport
    where rep_id = #{repId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from academicreport
    where rep_id = #{repId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hstc.pojo.AcademicReport">
    insert into academicreport (rep_id, create_time, update_time, 
      delete, report_title, begin_time, 
      over_time, host_unit, host_place, 
      attend_num, user_id, file_id
      )
    values (#{repId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delete,jdbcType=INTEGER}, #{reportTitle,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{overTime,jdbcType=TIMESTAMP}, #{hostUnit,jdbcType=VARCHAR}, #{hostPlace,jdbcType=VARCHAR}, 
      #{attendNum,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.AcademicReport">
    insert into academicreport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="repId != null">
        rep_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delete != null">
        delete,
      </if>
      <if test="reportTitle != null">
        report_title,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="overTime != null">
        over_time,
      </if>
      <if test="hostUnit != null">
        host_unit,
      </if>
      <if test="hostPlace != null">
        host_place,
      </if>
      <if test="attendNum != null">
        attend_num,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="repId != null">
        #{repId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=INTEGER},
      </if>
      <if test="reportTitle != null">
        #{reportTitle,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        #{overTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hostUnit != null">
        #{hostUnit,jdbcType=VARCHAR},
      </if>
      <if test="hostPlace != null">
        #{hostPlace,jdbcType=VARCHAR},
      </if>
      <if test="attendNum != null">
        #{attendNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.AcademicReport">
    update academicreport
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delete != null">
        delete = #{delete,jdbcType=INTEGER},
      </if>
      <if test="reportTitle != null">
        report_title = #{reportTitle,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        over_time = #{overTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hostUnit != null">
        host_unit = #{hostUnit,jdbcType=VARCHAR},
      </if>
      <if test="hostPlace != null">
        host_place = #{hostPlace,jdbcType=VARCHAR},
      </if>
      <if test="attendNum != null">
        attend_num = #{attendNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
    </set>
    where rep_id = #{repId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.AcademicReport">
    update academicreport
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete = #{delete,jdbcType=INTEGER},
      report_title = #{reportTitle,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      over_time = #{overTime,jdbcType=TIMESTAMP},
      host_unit = #{hostUnit,jdbcType=VARCHAR},
      host_place = #{hostPlace,jdbcType=VARCHAR},
      attend_num = #{attendNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER}
    where rep_id = #{repId,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from academicreport
    where
    user_id=#{user_id}
  </select>

  <select id="getReportCountByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select COUNT(*)
    from academicreport
    where user_id=#{user_id}
  </select>

</mapper>