<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.AttendConferenceMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.AttendConference">
    <id column="conf_id" jdbcType="INTEGER" property="confId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="conference_name" jdbcType="VARCHAR" property="conferenceName" />
    <result column="paper_title" jdbcType="VARCHAR" property="paperTitle" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="host_unit" jdbcType="VARCHAR" property="hostUnit" />
    <result column="conference_category" jdbcType="VARCHAR" property="conferenceCategory" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
  </resultMap>
  <sql id="Base_Column_List">
    conf_id, create_time, update_time, deleted, conference_name, paper_title, time, place,
    host_unit, conference_category, user_id, file_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attendconference
    where conf_id = #{confId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attendconference
    where conf_id = #{confId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hstc.pojo.AttendConference">
    insert into attendconference (conf_id, create_time, update_time, 
      deleted, conference_name, paper_title,
      time, place, host_unit, 
      conference_category, user_id, file_id
      )
    values (#{confId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=INTEGER}, #{conferenceName,jdbcType=VARCHAR}, #{paperTitle,jdbcType=VARCHAR},
      #{time,jdbcType=TIMESTAMP}, #{place,jdbcType=VARCHAR}, #{hostUnit,jdbcType=VARCHAR}, 
      #{conferenceCategory,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.AttendConference">
    insert into attendconference
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="confId != null">
        conf_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="conferenceName != null">
        conference_name,
      </if>
      <if test="paperTitle != null">
        paper_title,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="hostUnit != null">
        host_unit,
      </if>
      <if test="conferenceCategory != null">
        conference_category,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="confId != null">
        #{confId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="conferenceName != null">
        #{conferenceName,jdbcType=VARCHAR},
      </if>
      <if test="paperTitle != null">
        #{paperTitle,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="hostUnit != null">
        #{hostUnit,jdbcType=VARCHAR},
      </if>
      <if test="conferenceCategory != null">
        #{conferenceCategory,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.AttendConference">
    update attendconference
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="conferenceName != null">
        conference_name = #{conferenceName,jdbcType=VARCHAR},
      </if>
      <if test="paperTitle != null">
        paper_title = #{paperTitle,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="hostUnit != null">
        host_unit = #{hostUnit,jdbcType=VARCHAR},
      </if>
      <if test="conferenceCategory != null">
        conference_category = #{conferenceCategory,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
    </set>
    where conf_id = #{confId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.AttendConference">
    update attendconference
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      conference_name = #{conferenceName,jdbcType=VARCHAR},
      paper_title = #{paperTitle,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      place = #{place,jdbcType=VARCHAR},
      host_unit = #{hostUnit,jdbcType=VARCHAR},
      conference_category = #{conferenceCategory,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER}
    where conf_id = #{confId,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from attendconference
    where
    user_id=#{user_id}
  </select>

  <select id="getConferenceCountByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select COUNT(*)
    from attendconference
    where user_id=#{user_id}
  </select>

</mapper>