<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.AwardMapper">
    <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.Award">
        <id column="award_id" jdbcType="INTEGER" property="awardId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="award_name" jdbcType="VARCHAR" property="awardName"/>
        <result column="award_level" jdbcType="VARCHAR" property="awardLevel"/>
        <result column="award_time" jdbcType="TIMESTAMP" property="awardTime"/>
        <result column="award_rank" jdbcType="VARCHAR" property="awardRank"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="file_id" jdbcType="INTEGER" property="fileId"/>
        <association property="filepath" javaType="cn.edu.hstc.pojo.Filepath">
            <result column="url" property="url"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    award_id, create_time, update_time, deleted, project_name, award_name, award_level,
    award_time, award_rank, user_id, file_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from award
        where award_id = #{awardId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from award
    where award_id = #{awardId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.edu.hstc.pojo.Award">
    insert into award (award_id, create_time, update_time, 
      deleted, project_name, award_name,
      award_level, award_time, award_rank, 
      user_id, file_id)
    values (#{awardId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{awardName,jdbcType=VARCHAR},
      #{awardLevel,jdbcType=VARCHAR}, #{awardTime,jdbcType=TIMESTAMP}, #{awardRank,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.Award">
        insert into award
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="awardId != null">
                award_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="awardName != null">
                award_name,
            </if>
            <if test="awardLevel != null">
                award_level,
            </if>
            <if test="awardTime != null">
                award_time,
            </if>
            <if test="awardRank != null">
                award_rank,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="fileId != null">
                file_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="awardId != null">
                #{awardId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="awardName != null">
                #{awardName,jdbcType=VARCHAR},
            </if>
            <if test="awardLevel != null">
                #{awardLevel,jdbcType=VARCHAR},
            </if>
            <if test="awardTime != null">
                #{awardTime,jdbcType=TIMESTAMP},
            </if>
            <if test="awardRank != null">
                #{awardRank,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="fileId != null">
                #{fileId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.Award">
        update award
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="awardName != null">
                award_name = #{awardName,jdbcType=VARCHAR},
            </if>
            <if test="awardLevel != null">
                award_level = #{awardLevel,jdbcType=VARCHAR},
            </if>
            <if test="awardTime != null">
                award_time = #{awardTime,jdbcType=TIMESTAMP},
            </if>
            <if test="awardRank != null">
                award_rank = #{awardRank,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="fileId != null">
                file_id = #{fileId,jdbcType=INTEGER},
            </if>
        </set>
        where award_id = #{awardId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.Award">
    update award
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      award_name = #{awardName,jdbcType=VARCHAR},
      award_level = #{awardLevel,jdbcType=VARCHAR},
      award_time = #{awardTime,jdbcType=TIMESTAMP},
      award_rank = #{awardRank,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER}
    where award_id = #{awardId,jdbcType=INTEGER}
  </update>


    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
	award.award_id,
	award.award_level,
	award.award_name,
	award.award_rank,
	award.award_time,
	award.file_id,
	award.project_name,
	f.url
FROM
	award
JOIN filepath AS f ON f.file_id = award.file_id
    where
    award.user_id=#{user_id}
  </select>

    <select id="getAwardCountByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select COUNT(*)
    from award
    where user_id=#{user_id}
  </select>


</mapper>