<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.CopyrightMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.Copyright">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="rightName" jdbcType="VARCHAR" property="rightname" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="awardTime" jdbcType="TIMESTAMP" property="awardtime" />
    <result column="rightNum" jdbcType="INTEGER" property="rightnum" />
    <result column="memberID" jdbcType="INTEGER" property="memberid" />
    <result column="fileID" jdbcType="INTEGER" property="fileid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createTime, updateTime, deleteTime, rightName, rank, awardTime, rightNum, memberID, 
    fileID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from copyright
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from copyright
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hstc.pojo.Copyright">
    insert into copyright (id, createTime, updateTime, 
      deleteTime, rightName, rank, 
      awardTime, rightNum, memberID, 
      fileID)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{rightname,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR}, 
      #{awardtime,jdbcType=TIMESTAMP}, #{rightnum,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, 
      #{fileid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.Copyright">
    insert into copyright
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="deletetime != null">
        deleteTime,
      </if>
      <if test="rightname != null">
        rightName,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="awardtime != null">
        awardTime,
      </if>
      <if test="rightnum != null">
        rightNum,
      </if>
      <if test="memberid != null">
        memberID,
      </if>
      <if test="fileid != null">
        fileID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightname != null">
        #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="awardtime != null">
        #{awardtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightnum != null">
        #{rightnum,jdbcType=INTEGER},
      </if>
      <if test="memberid != null">
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.Copyright">
    update copyright
    <set>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightname != null">
        rightName = #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="awardtime != null">
        awardTime = #{awardtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightnum != null">
        rightNum = #{rightnum,jdbcType=INTEGER},
      </if>
      <if test="memberid != null">
        memberID = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="fileid != null">
        fileID = #{fileid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.Copyright">
    update copyright
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      rightName = #{rightname,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=VARCHAR},
      awardTime = #{awardtime,jdbcType=TIMESTAMP},
      rightNum = #{rightnum,jdbcType=INTEGER},
      memberID = #{memberid,jdbcType=INTEGER},
      fileID = #{fileid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>