<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.InvestigateMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.Investigate">
    <id column="inv_id" jdbcType="INTEGER" property="invId" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="over_time" jdbcType="TIMESTAMP" property="overTime" />
    <result column="investigate_place" jdbcType="VARCHAR" property="investigatePlace" />
    <result column="investigate_content" jdbcType="VARCHAR" property="investigateContent" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
  </resultMap>
  <sql id="Base_Column_List">
    inv_id, deleted, update_time, create_time, begin_time, over_time, investigate_place,
    investigate_content, user_id, file_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from investigate
    where inv_id = #{invId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from investigate
    where inv_id = #{invId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hstc.pojo.Investigate">
    insert into investigate (inv_id, deleted, update_time,
      create_time, begin_time, over_time, 
      investigate_place, investigate_content, user_id, 
      file_id)
    values (#{invId,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{beginTime,jdbcType=TIMESTAMP}, #{overTime,jdbcType=TIMESTAMP}, 
      #{investigatePlace,jdbcType=VARCHAR}, #{investigateContent,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{fileId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.Investigate">
    insert into investigate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invId != null">
        inv_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="overTime != null">
        over_time,
      </if>
      <if test="investigatePlace != null">
        investigate_place,
      </if>
      <if test="investigateContent != null">
        investigate_content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invId != null">
        #{invId,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        #{overTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investigatePlace != null">
        #{investigatePlace,jdbcType=VARCHAR},
      </if>
      <if test="investigateContent != null">
        #{investigateContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.Investigate">
    update investigate
    <set>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        over_time = #{overTime,jdbcType=TIMESTAMP},
      </if>
      <if test="investigatePlace != null">
        investigate_place = #{investigatePlace,jdbcType=VARCHAR},
      </if>
      <if test="investigateContent != null">
        investigate_content = #{investigateContent,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
    </set>
    where inv_id = #{invId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.Investigate">
    update investigate
    set deleted = #{deleted,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      over_time = #{overTime,jdbcType=TIMESTAMP},
      investigate_place = #{investigatePlace,jdbcType=VARCHAR},
      investigate_content = #{investigateContent,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER}
    where inv_id = #{invId,jdbcType=INTEGER}
  </update>


  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from investigate
    where
    user_id=#{user_id}
  </select>

  <select id="getInvestigateCountByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select COUNT(*)
    from investigate
    where user_id=#{user_id}
  </select>
</mapper>