<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.InvestigateMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.Investigate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="beginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="overTime" jdbcType="TIMESTAMP" property="overtime" />
    <result column="investigatePlace" jdbcType="VARCHAR" property="investigateplace" />
    <result column="investigateContent" jdbcType="VARCHAR" property="investigatecontent" />
    <result column="investigatorID" jdbcType="INTEGER" property="investigatorid" />
    <result column="fileID" jdbcType="INTEGER" property="fileid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, deleteTime, updateTime, createTime, beginTime, overTime, investigatePlace, investigateContent, 
    investigatorID, fileID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from investigate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from investigate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hstc.pojo.Investigate">
    insert into investigate (id, deleteTime, updateTime, 
      createTime, beginTime, overTime, 
      investigatePlace, investigateContent, investigatorID, 
      fileID)
    values (#{id,jdbcType=INTEGER}, #{deletetime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{begintime,jdbcType=TIMESTAMP}, #{overtime,jdbcType=TIMESTAMP}, 
      #{investigateplace,jdbcType=VARCHAR}, #{investigatecontent,jdbcType=VARCHAR}, #{investigatorid,jdbcType=INTEGER}, 
      #{fileid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.Investigate">
    insert into investigate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deletetime != null">
        deleteTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="begintime != null">
        beginTime,
      </if>
      <if test="overtime != null">
        overTime,
      </if>
      <if test="investigateplace != null">
        investigatePlace,
      </if>
      <if test="investigatecontent != null">
        investigateContent,
      </if>
      <if test="investigatorid != null">
        investigatorID,
      </if>
      <if test="fileid != null">
        fileID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null">
        #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="investigateplace != null">
        #{investigateplace,jdbcType=VARCHAR},
      </if>
      <if test="investigatecontent != null">
        #{investigatecontent,jdbcType=VARCHAR},
      </if>
      <if test="investigatorid != null">
        #{investigatorid,jdbcType=INTEGER},
      </if>
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.Investigate">
    update investigate
    <set>
      <if test="deletetime != null">
        deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="begintime != null">
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null">
        overTime = #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="investigateplace != null">
        investigatePlace = #{investigateplace,jdbcType=VARCHAR},
      </if>
      <if test="investigatecontent != null">
        investigateContent = #{investigatecontent,jdbcType=VARCHAR},
      </if>
      <if test="investigatorid != null">
        investigatorID = #{investigatorid,jdbcType=INTEGER},
      </if>
      <if test="fileid != null">
        fileID = #{fileid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.Investigate">
    update investigate
    set deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      overTime = #{overtime,jdbcType=TIMESTAMP},
      investigatePlace = #{investigateplace,jdbcType=VARCHAR},
      investigateContent = #{investigatecontent,jdbcType=VARCHAR},
      investigatorID = #{investigatorid,jdbcType=INTEGER},
      fileID = #{fileid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>