<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.RoleMapper">
    <resultMap id="RoleAndPermissionMap" type="cn.edu.hstc.pojo.Role">
        <id column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
        <collection property="permissions" ofType="cn.edu.hstc.pojo.Permission">
            <id column="perId" property="perId"/>
            <result column="perName" property="perName"/>
        </collection>
    </resultMap>

    <resultMap id="roleMap" type="cn.edu.hstc.pojo.Role">
        <id column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
    </resultMap>

    <select id="selectAllRoleAndPermission" resultMap="RoleAndPermissionMap" >
            SELECT
                temp.role_id AS roleId,
                p.per_id AS  perId,
                temp.role_name AS roleName,
                p.per_name AS  perName
            FROM
                (
                    SELECT
                        r.role_id,
                        r.role_name,
                        rp.per_id
                    FROM
                        role AS r
                    LEFT JOIN role_permission AS rp ON r.role_id = rp.role_id
                ) AS temp
            LEFT JOIN permission AS p ON p.per_id = temp.per_id
    </select>
    <select id="selectRoles" resultMap="roleMap" >
        SELECT
            r.role_id AS roleId,
            r.role_name AS roleName
        FROM
            role AS r
    </select>
    <select id="selectAdminRoles" resultMap="roleMap" >
        SELECT
        r.role_id AS roleId,
        r.role_name AS roleName
        FROM
        role AS r
        WHERE role_id!=1
    </select>


</mapper>  