<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.SpeechMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.Speech">
    <id column="speech_id" jdbcType="INTEGER" property="speechId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="invite_time" jdbcType="TIMESTAMP" property="inviteTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="over_time" jdbcType="TIMESTAMP" property="overTime" />
    <result column="speech_form" jdbcType="VARCHAR" property="speechForm" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <association property="filepath" javaType="cn.edu.hstc.pojo.Filepath">
      <result column="url" property="url"/>
    </association>
  </resultMap>
  <sql id="speech_file_list">
    speech.begin_time,
    speech.deleted,
    speech.file_id,
    speech.invite_time,
    speech.over_time,
    speech.speech_form,
    speech.speech_id,
    f.url
  </sql>
  <sql id="Base_Column_List">
    speech_id, create_time, update_time, deleted, invite_time, begin_time, over_time,
    speech_form, user_id, file_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="speech_file_list" />
    FROM
    speech
    JOIN filepath AS f ON f.file_id = speech.file_id
    where speech_id = #{speechId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from speech
    where speech_id = #{speechId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hstc.pojo.Speech">
    insert into speech (speech_id, create_time, update_time,
      deleted, invite_time, begin_time,
      over_time, speech_form, user_id,
      file_id)
    values (#{speechId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{deleted,jdbcType=INTEGER}, #{inviteTime,jdbcType=TIMESTAMP}, #{beginTime,jdbcType=TIMESTAMP},
      #{overTime,jdbcType=TIMESTAMP}, #{speechForm,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{fileId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.Speech">
    insert into speech
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="speechId != null">
        speech_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="inviteTime != null">
        invite_time,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="overTime != null">
        over_time,
      </if>
      <if test="speechForm != null">
        speech_form,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="speechId != null">
        #{speechId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="inviteTime != null">
        #{inviteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        #{overTime,jdbcType=TIMESTAMP},
      </if>
      <if test="speechForm != null">
        #{speechForm,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.Speech">
    update speech
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="inviteTime != null">
        invite_time = #{inviteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        over_time = #{overTime,jdbcType=TIMESTAMP},
      </if>
      <if test="speechForm != null">
        speech_form = #{speechForm,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
    </set>
    where speech_id = #{speechId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.Speech">
    update speech
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      invite_time = #{inviteTime,jdbcType=TIMESTAMP},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      over_time = #{overTime,jdbcType=TIMESTAMP},
      speech_form = #{speechForm,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER}
    where speech_id = #{speechId,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
	speech.begin_time,
	speech.deleted,
	speech.file_id,
	speech.invite_time,
	speech.over_time,
	speech.speech_form,
	speech.speech_id,
	f.url
FROM
	speech
LEFT JOIN filepath AS f ON f.file_id = speech.file_id
    where
    speech.user_id=#{user_id}
  </select>

  <select id="getSpeechCountByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select COUNT(*)
    from speech
    where user_id=#{user_id}
  </select>

</mapper>