<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hstc.dao.SpeechMapper">
  <resultMap id="BaseResultMap" type="cn.edu.hstc.pojo.Speech">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="inviteTime" jdbcType="TIMESTAMP" property="invitetime" />
    <result column="beginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="overTime" jdbcType="TIMESTAMP" property="overtime" />
    <result column="speechForm" jdbcType="VARCHAR" property="speechform" />
    <result column="speakerID" jdbcType="INTEGER" property="speakerid" />
    <result column="fileID" jdbcType="INTEGER" property="fileid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createTime, updateTime, deleteTime, inviteTime, beginTime, overTime, speechForm, 
    speakerID, fileID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from speech
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from speech
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.hstc.pojo.Speech">
    insert into speech (id, createTime, updateTime, 
      deleteTime, inviteTime, beginTime, 
      overTime, speechForm, speakerID, 
      fileID)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{invitetime,jdbcType=TIMESTAMP}, #{begintime,jdbcType=TIMESTAMP}, 
      #{overtime,jdbcType=TIMESTAMP}, #{speechform,jdbcType=VARCHAR}, #{speakerid,jdbcType=INTEGER}, 
      #{fileid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.hstc.pojo.Speech">
    insert into speech
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="deletetime != null">
        deleteTime,
      </if>
      <if test="invitetime != null">
        inviteTime,
      </if>
      <if test="begintime != null">
        beginTime,
      </if>
      <if test="overtime != null">
        overTime,
      </if>
      <if test="speechform != null">
        speechForm,
      </if>
      <if test="speakerid != null">
        speakerID,
      </if>
      <if test="fileid != null">
        fileID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="invitetime != null">
        #{invitetime,jdbcType=TIMESTAMP},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null">
        #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="speechform != null">
        #{speechform,jdbcType=VARCHAR},
      </if>
      <if test="speakerid != null">
        #{speakerid,jdbcType=INTEGER},
      </if>
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hstc.pojo.Speech">
    update speech
    <set>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletetime != null">
        deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="invitetime != null">
        inviteTime = #{invitetime,jdbcType=TIMESTAMP},
      </if>
      <if test="begintime != null">
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null">
        overTime = #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="speechform != null">
        speechForm = #{speechform,jdbcType=VARCHAR},
      </if>
      <if test="speakerid != null">
        speakerID = #{speakerid,jdbcType=INTEGER},
      </if>
      <if test="fileid != null">
        fileID = #{fileid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.hstc.pojo.Speech">
    update speech
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      inviteTime = #{invitetime,jdbcType=TIMESTAMP},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      overTime = #{overtime,jdbcType=TIMESTAMP},
      speechForm = #{speechform,jdbcType=VARCHAR},
      speakerID = #{speakerid,jdbcType=INTEGER},
      fileID = #{fileid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>