   #set($projectname="")
    <!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="$projectname/favicon.ico" >
<link rel="Shortcut Icon" href="$projectname/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$projectname/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/style.css" />

    <script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/laypage/1.2/laypage.js"></script>


    <script type="text/javascript" src="$projectname/myjs/until/date.js"></script>



<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加记录</title>

</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form-project-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>项目名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写项目名称" id="projectName" name="projectName" datatype="*" nullmsg="必填字段">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>项目编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写项目编号" id="projectNumber" name="projectNumber"  datatype="*" nullmsg="必填字段">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3">项目来源：</label>
            <div class="col-xs-6">
        <span class="select-box">
        <select class="select" size="1" name="projectSource" id="projectSource"  datatype="*" nullmsg="必填字段">
            <option value>请填写项目来源</option>
            <option value="高校古籍整理研究项目" >高校古籍整理研究项目</option>
            <option value="国际合作研究项目" >国际合作研究项目</option>
            <option value="国家科技计划项目" >国家科技计划项目</option>
            <option value="国家社科基金单列学科项目" >国家社科基金单列学科项目</option>
            <option value="国家社科基金学科项目" >国家社科基金学科项目</option>
            <option value="国家自然科学基金项目" >国家自然科学基金项目</option>
            <option value="教育部人文社科研究项目" >教育部人文社科研究项目</option>
            <option value="企事业单位委托项目" >企事业单位委托项目</option>
            <option value="省、部产学研项目" >省、部产学研项目</option>
            <option value="省、市、自治区科技计划项目" >省、市、自治区科技计划项目</option>
            <option value="省、市、自治区自然科学基金项目" >省、市、自治区自然科学基金项目</option>
            <option value="省、市、自治区社科基金项目" >省、市、自治区社科基金项目</option>
            <option value="省教育厅社科项目" >省教育厅社科项目</option>
            <option value="省教育厅自然科学项目" >省教育厅自然科学项目</option>
            <option value="市、厅（科技厅、教育厅除外）、局等政府部门项目" >市、厅（科技厅、教育厅除外）、局等政府部门项目</option>
            <option value="外资项目" >外资项目</option>
            <option value="学校教授或博士启动项目" >学校教授或博士启动项目</option>
            <option value="学校理科项目" >学校理科项目</option>
            <option value="学校社科项目" >学校社科项目</option>
            <option value="与港、澳、台合作研究项目" >与港、澳、台合作研究项目</option>
            <option value="中央其他部门社科专门项目" >中央其他部门社科专门项目</option>
            <option value="中央其他部门自然科学专门项目" >中央其他部门自然科学专门项目</option>
            <option value="其他项目" >其他项目</option>
        </select>
        </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">项目开始时间：</label>
            <div class="formControls col-xs-8">
                <input type="text"  id="beginTime" class="input-text Wdate" style="width:120px;"  datatype="*" nullmsg="必填字段">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">项目结束时间：</label>
            <div class="formControls col-xs-8">
                <input type="text"  id="overTime" class="input-text Wdate" style="width:120px;"  datatype="*" nullmsg="必填字段">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>项目经费：（万元）</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="精确到小数点后四位" id="funds" name="funds" datatype="funds" nullmsg="必填字段">
            </div>

        </div>

        <div class="row cl">
            <label class="form-label col-xs-3">项目级别：</label>
            <div class="col-xs-6">
                <span class="select-box">
                <select class="select" size="1" name="level" id="level" datatype="*" nullmsg="必填字段">
                    <option value>请填写项目级别</option>
                    <option value="国家级" >国家级</option>
                    <option value="部级" >部级</option>
                    <option value="省级" >省级</option>
                    <option value="厅级" >厅级</option>
                    <option value="市级" >市级</option>
                    <option value="校级" >校级</option>
                </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3">是否合作研究：</label>
            <div class="col-xs-6">
            <span class="select-box">
            <select class="select" size="1" name="isTeamwork" id="isTeamwork" datatype="*" nullmsg="必填字段">
                <option value>选择状态</option>
                <option value="1" >是</option>
                <option value="0" >否</option>

            </select>
            </span>
            </div>
        </div>
            <br>

        <div class="row cl">
            <label class="form-label col-xs-3">项目状态：</label>
            <div class="col-xs-6">
            <span class="select-box">
                <select class="select" size="1" name="state" id="state" datatype="*" nullmsg="必填字段">
                    <option selected>选择项目状态</option>
                    <option value="进行" >进行</option>
                    <option value="完成" >完成</option>
                    <option value="暂停" >暂停</option>
                    <option value="撤销" >撤销</option>
                </select>
            </span>
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-3">项目负责人：</label>
            <div class="col-xs-6">
                <span class="select-box">
                    <select class="select" size="1" name="projectDirector" id="projectDirector" datatype="*" nullmsg="必填字段">
                        <option value>填写项目负责人</option>
                    </select>
                </span>
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">证明附件：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple id="file" name="file" class="input-file" onchange="previewImg(this,'img1')">

				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">预览：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img  width="140" height="140" id="img1" />
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="submit" type="submit" onclick="checkAndPost()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-primary radius" id="reset" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
            </div>
        </div>
	</form>
    <br>
    <br>
    <div class="text-shadow">
    <p>说明：</p>
        <p>国家级：国家自然科学基金委、全国哲学社科规划办、科技部批准立项的项目</p>
        <p>部级：教育部及其他部委批准立项的项目</p>
        <p>省级：科技厅、省哲学科规划办批准立项的项目</p>
        <p>市级：科技局、市哲学社科规划办批准立项的项目</p>
        <p>校级：韩山师范学院批准立项的项目</p>



    </div>

</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="$projectname/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="$projectname/myjs/laydate/laydate.js"></script>

<script type="text/javascript" src="$projectname/myjs/base.js"></script>
<script src="$projectname/myjs/validform/Validform_v5.3.2_min.js"></script>




<script type="text/javascript">
    $(function () {
        findmember();
    })
    function checkAndPost() {
        $("#form-project-add").Validform({
            btnSubmit: "#submit",
            tiptype:3,
            showAllError: true,
            ignoreHidden: true,
            ajaxPost: false,
            datatype:{
                "funds": /^\d*.\d{1,4}$/ ,
            },
            beforeSubmit:function(curform){
                //在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
                //这里明确return false的话表单将不会提交;
                add();
                return false;
            },
        });
    }
    function add() {
        var upload_file = document.getElementById("file").files[0];
        var formFile = new FormData();
        formFile.append("upload_file", upload_file);
        var data = formFile;

        var projectName=$("#projectName").val();
        var projectNumber=$("#projectNumber").val();
        var projectSource=$("#projectSource").val();
        var funds=$("#funds").val();
        validateFund();
        funds=parseFloat(funds);

        var isTeamwork=$('#isTeamwork option:selected').val();
        isTeamwork=parseInt(isTeamwork);
        var state=$('#state option:selected').text();
        var projectDirector=$('#projectDirector option:selected').text();
        var level=$('#level option:selected').val();

        var beginTime=$("#beginTime").val();
        beginTime=convertDateFromString(beginTime);
        var overTime=$("#overTime").val();
        overTime=convertDateFromString(overTime);

        $.ajax({
            type:"POST",
            url: "$projectname/project/uploadAttachment.do",
            data: data,
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false,
            success: function(data){


                var fileId=null;
                data=JSON.parse(data);
                if(data.status==200){
                    fileId =data.data;
                    fileId=parseInt(fileId);
                }
                $.ajax({
                    type:"POST",
                    url:"$projectname/project/add.do",
                    data:{
                        "projectName":projectName, "projectNumber":projectNumber, "projectSource":projectSource, "funds":funds,
                        "level":level,"isTeamwork":isTeamwork,"state":state,"projectDirector":projectDirector,"beginTime":beginTime,"overTime":overTime,
                        "fileId":fileId
                    },
                    success: function (data) {

                        var user=JSON.parse(data);
                        if (user.status ==200){
                            alert(user.msg);
                            window.parent.location.replace("$projectname/project/list");
                        }else {
                            layer.msg(user.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            },
            error:function () {
                layer.msg("请求接口失败，客户端参数错误",{icon: 2, time: 2000});
            }
        });
    }

    function findmember() {
        $.ajax({
            type:"POST",
            url:"$projectname/user/all",
            success:function (data) {
                data=JSON.parse(data);
                data=data.data;
                var str="<option value=\"\" selected>选择课题负责人</option>";
                for (i in data){
                    str+="<option value='" +data[i].userId+"' >"+data[i].name+"</option>"
                }
                $("#projectDirector").html(str);

            }
        });
    }

##
   /**
    *@author Veng Su
    *@date 2018/4/5 21:18
    *方法作用：绑定日期插件
    **/
   laydate.render({
       elem: '#beginTime' //指定元素
   });
/**
 *@author Veng Su
 *@date 2018/4/5 21:18
 *方法作用：绑定日期插件
 **/
laydate.render({
    elem: '#overTime' //指定元素
});




</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
