   #set($projectname="/projectManager")
    <!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="$projectname/favicon.ico">
    <link rel="Shortcut Icon" href="$projectname/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="$projectname/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="$projectname/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/style.css"/>

    <link rel="stylesheet" href="$projectname/myjs/paging/paging.css">

    <script type="text/javascript" src="$projectname/myjs/until/date.js"></script>
    <script type="text/javascript" src="$projectname/myjs/until/parseurl.js"></script>

    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>科研项目列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 科研项目<span
        class="c-gray en">&gt;</span> 科研项目列表 <a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin"
               class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax"
               class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入" id="" name="">
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜科研项目</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i
                    class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <a href="javascript:;" onclick="project_add('添加记录','$projectname/project/add')"
               class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加记录</a>
        </span>
        <span id="total" class="r"> </span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="20">科研项目列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th >ID</th>
            <th> 项目名称</th>
            <th>项目编号</th>
            <th>项目来源</th>
            <th>项目开始时间</th>
            <th>项目结束时间</th>
            <th>项目经费（万元）</th>
            <th>项目级别</th>
            <th>是否合作研究</th>
            <th>项目状态</th>
            <th>课题负责人</th>
            <th >附件</th>
            <th >下载</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody"></tbody>
        <tfoot>
        <tr>
            <th colspan="24"><div class="box" id="box"></div></th>
        </tr>
        </tfoot>
    </table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="$projectname/myjs/paging/project_paging.js"></script>
<script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="$projectname/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="$projectname/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="$projectname/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="$projectname/myjs/base.js"></script>



<script type="text/javascript">

    /*加载页面显示数据*/
        $(function () {
            $.ajax({
                type: "POST",
                url: "$projectname/project/selectByUserId.do",
                success: function (data) {
                    var data = JSON.parse(data);
                    display(data.data.list);
                    var setTotalCount = data.data.total;//总条数
                    var startNumber = data.data.pageNum;//当前页数
                    var totalPages = data.data.navigatepageNums.length;//总页数
                    $('#box').paging({
                        initPageNo: startNumber, // 初始页码
                        totalPages: totalPages, //总页数
                        totalCount: '合计' + setTotalCount + '条数据', // 条目总数
                        slideSpeed: 600, // 缓动速度。单位毫秒
                        jump: true, //是否支持跳转
                        callback: function(page) { // 回调函数
                            console.log(page);
                        }
                    });
                }
            });
        }
    );

</script>
</body>
</html>
    <script>


        function getData() {
            $.ajax({
                type: "POST",
                url: "$projectname/project/selectByUserId.do",
                success: function (data) {
                    var data = JSON.parse(data);
                    display(data.data.list);
                }
            });
        }

        function display(data) {
            var str = "";
            var tbody = window.document.getElementById("tbody");
            var index =0;
            for (i in data) {
                var beginTime =FormatDateTime(data[i].beginTime );
                var overTime =FormatDateTime(data[i].overTime);
                index=parseInt(i)+1;
                str += "<tr class='text-c'>" +
                        "<td name='caonima' width='25'><input type='checkbox' ></td>" +
                        "<td name='id' width='40'>" + index + "</td>" +
                        "<td name='projectName' width='100'>" + data[i].projectName + "</td>" +
                        "<td name='projectNumber' width='100'>" + data[i].projectNumber + "</td>" +
                        "<td name='projectSource' width='100'>" + data[i].projectSource + "</td>" +
                        "<td name='beginTime'width='150'>" + beginTime + "</td>" +
                        "<td name='overTime' width='130'>" + overTime + "</td>" +
                        "<td name='funds' width='100'>" + data[i].funds + "</td>" +
                        "<td name='level' width='100'>" + data[i].level + "</td>" +
                        "<td name='isTeamwork' width='100'>" + data[i].isTeamwork + "</td>" +
                        "<td name='state' width='100'>" + data[i].state + "</td>" +
                        "<td name='projectDirector' width='100'>" + data[i].projectDirector + "</td>" +
                        "<td ><img class='imgfile' width='80' height='80' onclick="+"showImg(this.src)"+" src='$projectname"+data[i].filepath.url+"'/></td>"+
                        "<td><button class='btn btn-danger radius ' value='"+data[i].filepath.url+"' onclick="+"downloadFileByForm(this.value,"+'"$projectname/download"'+")"+">下载附件</button></td>"+

                        "<td ><button  class='btn btn-primary radius ' value='"+data[i].proId+"' onclick="+"jumpEdit(this.value)"+">编辑</button>" +
                        "<button class=' btn btn-danger radius ' value='"+data[i].proId+"' onclick="+"jumpDelete(this.value)"+">删除</button></td>"+
                        "</tr>";
            }

            tbody.innerHTML = str;
        }

        /**
         *@author Veng Su
         *@date 2018/4/4 20:05
         *方法作用：跳转编辑页面
         **/
        function jumpEdit(id) {
            var url="$projectname/project/edit?id="+id;

            layer_show('修改', url);
        }

        /**
         *@author Veng Su
         *@date 2018/4/4 20:05
         *方法作用：删除记录
         **/
        function jumpDelete(id) {
            var proId=parseInt(id);
            layer.confirm('确认要删除吗？',function () {
                $.ajax({
                    type:"POST",
                    url:"$projectname/project/delete.do",
                    data:{"proId":proId},
                    success:function (data) {
                        data=JSON.parse(data);
                        if(data.status==200){
                            layer.msg(data.msg, {icon: 1, time: 2000});
                            getData();
                        }else{
                            layer.msg(data.msg, {icon: 2, time: 2000});
                        }


                    }
                });
            });
        }

        /**
         *@author Veng Su
         *@date 2018/4/5 9:58
         *方法作用：跳转add页面
         **/
        function project_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }



        function findmember() {
            $.ajax({
                type:"POST",
                url:"$projectname/user/all",
                success:function (data) {
                    data=JSON.parse(data);
                    data=data.data;
                    var str="<option value=\"\" selected>选择课题负责人</option>";
                    for (i in data){
                        str+="<option value='" +data[i].userId+"' >"+data[i].name+"</option>"
                    }
                    $("#projectDirector").html(str);

                }
            });
        }
        function selectData() {
            var data = parseUrl();
            var proId=parseInt(data['id']);
            $.ajax({
                type:"POST",
                url:"$projectname/project/selectById.do",
                data:{"proId":proId},
                success:function (data) {
                    var data = JSON.parse(data);
                    $("#proId").val(data.data.proId);
                    $("#projectName").val(data.data.projectName);
                    $("#projectNumber").val(data.data.projectNumber);
                    $("#projectSource").val(data.data.projectSource);
                    $("#funds").val(data.data.funds);
                    $("#level").val(data.data.level);
                    $("#isTeamwork").val(data.data.isTeamwork);
                    $("#state").val(data.data.state);
                    $("#projectDirector").val(data.data.projectDirector);
                    var wang = data.data.projectDirector;
                    // $("#projectDirector").val("ceshi1");
                    $("#state").val(data.data.state);

                    var beginTime=FormatDateTime(data.data.beginTime);
                    $("#beginTime").val(beginTime);
                    var overTime=FormatDateTime(data.data.overTime);
                    $("#overTime").val(overTime);

                    $.ajax({
                        type:"POST",
                        url:"$projectname/user/all",
                        success:function (data) {
                            data=JSON.parse(data);
                            data=data.data;
                            var str="<option value=\"\" >选择课题负责人</option>";
                            for (i in data){
                                if(wang == data[i].name){
                                    str+="<option value='" +data[i].userId+"' selected='selected'>"+data[i].name+"</option>";
                                }else{
                                    str+="<option value='" +data[i].userId+"' >"+data[i].name+"</option>";
                                }
                            }
                            $("#projectDirector").html(str);
                        }
                    });
                }
            });
        }

        function update() {

            //设置data数据
            var proId=$("#proId").val();
            proId=parseInt(proId);

            var upload_file = document.getElementById("file").files[0];
            var formFile = new FormData();
            formFile.append("upload_file", upload_file);
            var data = formFile;

            var projectName=$("#projectName").val();
            var projectNumber=$("#projectNumber").val();
            var projectSource=$("#projectSource").val();
            var funds=$("#funds").val();
            funds=parseFloat(funds);

            var isTeamwork=$('#isTeamwork option:selected').val();
            isTeamwork=parseInt(isTeamwork);
            var state=$('#state option:selected').text();
            var projectDirector=$('#projectDirector option:selected').text();
            var level=$('#level option:selected').val();

            var beginTime=$("#beginTime").val();
            beginTime=convertDateFromString(beginTime);
            var overTime=$("#overTime").val();
            overTime=convertDateFromString(overTime);

            var fileId=null;
            //查看upload_file是否为空
            if(upload_file!=null) {
                //不为空重新上传，拿到返回的fileid
                $.ajax({
                    type:"POST",
                    url: "$projectname/project/uploadAttachment.do",
                    data: data,
                    cache: false,//上传文件无需缓存
                    processData: false,//用于对data参数进行序列化处理 这里必须false
                    contentType: false,
                    success: function(data){
                        data=JSON.parse(data);
                        var fileId=data.data;
                        fileId=parseInt(fileId);
                        $.ajax({
                            type:"POST",
                            url:"$projectname/project/update.do",
                            data:{
                                "proId":proId,
                                "projectName":projectName, "projectNumber":projectNumber, "projectSource":projectSource, "funds":funds,
                                "level":level,"isTeamwork":isTeamwork,"state":state,"projectDirector":projectDirector,"beginTime":beginTime,"overTime":overTime,
                                "fileId":fileId
                            },
                            success: function (data) {
                                var user=JSON.parse(data);
                                if (user.status ==200){
                                    alert(user.msg);
                                    window.parent.location.replace("$projectname/project/list");
                                }else {
                                    layer.msg(user.msg, {icon: 2, time: 2000});
                                }
                            }
                        });
                    }
                });
            }else {

                $.ajax({
                    type:"POST",
                    url:"$projectname/project/update.do",
                    data:{
                        "proId":proId,
                        "projectName":projectName, "projectNumber":projectNumber, "projectSource":projectSource, "funds":funds,
                        "level":level,"isTeamwork":isTeamwork,"state":state,"projectDirector":projectDirector,"beginTime":beginTime,"overTime":overTime,
                        "fileId":fileId
                    },
                    success: function (data) {
                        var user=JSON.parse(data);
                        if (user.status ==200){
                            alert(user.msg);
                            window.parent.location.replace("$projectname/project/list");
                        }else {
                            layer.msg(user.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            }
        }
        function testPage(pageNum){
            $.ajax({
                type: "POST",
                url: "$projectname/project/selectByUserId.do",
                data:{"pageNum":pageNum},
                success: function (data) {
                    var data = JSON.parse(data);
                    display(data.data.list);
                }
            });
        }


    </script>