   #set($projectname="")
    <!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$projectname/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/style.css" />

    <script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="$projectname/myjs/until/date.js"></script>
<title>添加记录</title>
</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form-editbook-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>教材名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写教材名称" id="bookName" name="bookName" datatype="*" nullmsg="必填字段">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">编辑排名：</label>
            <div class="col-xs-6">
            <span class="select-box">
                <select class="select" size="1" name="editRank" id="editRank"  datatype="*" nullmsg="必填字段">
                    <option value >请填写编辑排名</option>
                    <option value="第一作者" >第一作者</option>
                    <option value="第二作者" >第二作者</option>
                    <option value="第三作者" >第三作者</option>
                    <option value="参著者" >参著者</option>
                    <option value="参编者" >参编者</option>
                </select>
            </span> <span class="Validform_checktip"></span>

            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>书号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写书号" id="isbn" name="isbn"  datatype="*" nullmsg="必填字段">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出版单位：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写书号" id="publishUnit" name="publishUnit"  datatype="*" nullmsg="必填字段">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">出版时间：</label>
            <div class="formControls col-xs-8">
                <input type="text"  id="publishTime" class="input-text Wdate" style="width:120px;"  datatype="*" nullmsg="必填字段">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>字数：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写字数" id="byteNum" name="byteNum"  datatype="n1-20" nullmsg="必填字段">
                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">证明附件：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple id="file" name="file" class="input-file" onchange="previewImg(this,'img1')">
				</span><span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">预览：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img  width="140" height="140" id="img1" />
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="submit" type="submit" onclick="check()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-primary radius" id="reset" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
            </div>
        </div>
	</form>
    <br>
    <br>
    <div class="text-shadow">

    </div>
</article>
<script src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="$projectname/lib/layer/2.4/layer.js"></script>
<script src="$projectname/static/h-ui/js/H-ui.min.js"></script>
<script src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script>
<script src="$projectname/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script src="$projectname/myjs/laydate/laydate.js"></script>
<script src="$projectname/myjs/base.js"></script>
<script src="$projectname/myjs/validform/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">


    function check() {
        $("#form-editbook-add").Validform({
            btnSubmit: "#submit",
            tiptype:3,
            showAllError: true,
            ignoreHidden: true,
            ajaxPost: false,
            beforeSubmit:function(curform){
                //在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
                //这里明确return false的话表单将不会提交;
                add();
                return false;
            },
        });
    }

    /**
     *@author Veng Su
     *@date 2018/4/5 21:18
     *方法作用：绑定日期插件
     **/
    laydate.render({
        elem: '#publishTime' //指定元素
    });
    function add() {
        var upload_file = document.getElementById("file").files[0];
        var formFile = new FormData();
        formFile.append("upload_file", upload_file);
        var data = formFile;

        var bookName=$("#bookName").val();
        var isbn=$("#isbn").val();
        var publishUnit=$("#publishUnit").val();

        var byteNum=$("#byteNum").val();
        byteNum=parseInt(byteNum);

        var publishTime =$("#publishTime").val();
        publishTime=convertDateFromString(publishTime);

        var editRank=$('#editRank').val();



        $.ajax({
            type:"POST",
            url: "$projectname/editbook/uploadAttachment.do",
            data: data,
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false,
            success: function(data){
                data=JSON.parse(data);
                if (data.status==200){
                    var fileId=data.data;
                    fileId=parseInt(fileId);
                    $.ajax({
                        type:"POST",
                        url:"$projectname/editbook/add.do",
                        data:{
                            "bookName":bookName, "isbn":isbn, "publishUnit":publishUnit, "byteNum":byteNum,
                            "publishTime":publishTime,"editRank":editRank,
                            "fileId":fileId
                        },
                        success: function (data) {
                            var user=JSON.parse(data);
                            if (user.status ==200){
                                alert(user.msg);
                                window.parent.location.replace("$projectname/editbook/list");
                            }else {
                                layer.msg(user.msg, {icon: 2, time: 2000});
                            }
                        },
                        error:function () {
                            layer.msg("请求接口失败，客户端参数错误", {icon: 2, time: 2000});
                        }
                    });
                }else {
                    layer.msg(data.msg, {icon: 2, time: 2000});
                }

            },
            error:function () {
                layer.msg("请求接口失败，客户端参数错误", {icon: 2, time: 2000});
            }
        });
    }
</script>
</body>
</html>
