<script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script>

##引入表单验证
<script type="text/javascript" src="$projectname/myjs/validform/Validform_v5.3.2_min.js"></script>
##基类
<script type="text/javascript" src="$projectname/myjs/base.js"></script>
##日期插件
<script type="text/javascript" src="$projectname/myjs/until/date.js"></script>
##解析url
<script type="text/javascript" src="$projectname/myjs/until/parseurl.js"></script>
##分页插件
<script type="text/javascript" src="$projectname/myjs/paging/mypage.js"></script>





