   #set($projectname="")<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="$projectname/favicon.ico" >
<link rel="Shortcut Icon" href="$projectname/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="$projectname/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="$projectname/static/h-ui.admin/css/style.css" />

    <script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="$projectname/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="$projectname/lib/laypage/1.2/laypage.js"></script>


    <script type="text/javascript" src="$projectname/myjs/until/date.js"></script>
    <script type="text/javascript" src="$projectname/myjs/laydate/laydate.js"></script>
    <script type="text/javascript" src="$projectname/myjs/base.js"></script>




    <!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加记录</title>

</head>
<body>
<article class="page-container">
	<form  class="form form-horizontal" id="form-attendconference-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>会议名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写会议名称" id="conferenceName" name="conferenceName" datatype="*" nullmsg="请填写会议名称">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>论文题目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写论文题目" id="paperTitle" name="paperTitle" datatype="*" nullmsg="请填写论文题目">
                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3">举办时间：</label>
            <div class="formControls col-xs-8">
                <input type="text"  id="time"
                       class="input-text Wdate" style="width:120px;" datatype="*" nullmsg="请填写举办时间">
                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>地点：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写地点" id="place" name="place" datatype="*" nullmsg="请填写地点">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>主办单位：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  placeholder="请填写主办单位" id="hostUnit" name="hostUnit" datatype="*" nullmsg="请填写主办单位">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">会议类别：</label>
            <div class="col-xs-6">
            <span class="select-box">
                <select class="select" size="1" name="conferenceCategory" id="conferenceCategory" datatype="*" nullmsg="请填写主办单位">
                    <option value>请填写会议类别</option>
                    <option value="国际学术会议" >国际学术会议</option>
                    <option value="港澳台学术会议" >港澳台学术会议</option>
                    <option value="国内学术会议" >国内学术会议</option>
                </select>
            </span><span class="Validform_checktip"></span>
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">证明附件：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple id="file" name="file" class="input-file" onchange="previewImg(this,'img1')">

				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">预览：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img  width="140" height="140" id="img1" />
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" id="submit" type="submit" onclick="checkAndPost()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-primary radius" id="reset" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">

            </div>
        </div>
	</form>
    <br>
    <br>
    <div class="text-shadow">
        <p>说明：会议类别分为</p>
        <p>（1）“国际学术会议”指有两个及以上国家的专家学者参加的学术会议，不管在哪举行；</p>
        <p>（2）“港澳台学术会议”指有大陆和港澳台地区专家学者参加，但没有其他国家专家学者参加的学术会议；</p>
        <p>（3）“国内学术会议”指在国内举行，且只有本国专家学者参加的学术会议（含全国性、地区性）；</p>
    </div>

</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="$projectname/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="$projectname/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="$projectname/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="$projectname/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="$projectname/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script src="$projectname/myjs/validform/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">

/**
 *@author Veng Su
 *@date 2018/4/5 21:18
 *方法作用：绑定日期插件
 **/
laydate.render({
    elem: '#time' //指定元素
});

function checkAndPost() {
    $("#form-attendconference-add").Validform({
        btnSubmit: "#submit",
        tiptype:3,
        showAllError: true,
        ignoreHidden: true,
        ajaxPost: false,
        beforeSubmit:function(curform){
            //在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
            //这里明确return false的话表单将不会提交;
            post();
            return false;
        },
    });
}

function post() {
    var upload_file = document.getElementById("file").files[0];
    var formFile = new FormData();
    formFile.append("upload_file", upload_file);
    var data = formFile;

    var conferenceName=$("#conferenceName").val();
    var paperTitle=$("#paperTitle").val();
    var time =$("#time").val();
    time=convertDateFromString(time);

    var place=$("#place").val();
    var hostUnit=$("#hostUnit").val();
    var conferenceCategory=$("#conferenceCategory").val();
    $.ajax({
        type:"POST",
        url: "$projectname/attendconference/uploadAttachment.do",
        data: data,
        cache: false,//上传文件无需缓存
        processData: false,//用于对data参数进行序列化处理 这里必须false
        contentType: false,
        success: function(data){

            var fileId=null;
            data=JSON.parse(data);
            if(data.status==200){
                fileId =data.data;
                fileId=parseInt(fileId);
            }
            $.ajax({
                type:"POST",
                url:"$projectname/attendconference/add.do",
                data:{
                    "conferenceName":conferenceName, "paperTitle":paperTitle, "time":time, "place":place, "hostUnit":hostUnit,
                    "conferenceCategory":conferenceCategory, "fileId":fileId
                },
                success: function (data) {
                    var user=JSON.parse(data);
                    if (user.status ==200){
                        alert(user.msg);
                        window.close();
                        window.parent.location.replace("$projectname/attendconference/list");
                    }else {
                        layer.msg(user.msg, {icon: 2, time: 2000});
                    }
                },
                error:function () {
                    layer.msg("请求接口失败，客户端参数错误", {icon: 2, time: 2000});
                }
            });
        },
        error:function () {
            layer.msg("请求上传文件接口失败，客户端参数错误", {icon: 2, time: 2000});
        }
    });
}


</script>
</body>
</html>